

import("stats", "graphics")


useDynLib("lmSubsets")


## export new generics
##
export("lmSubsets",
       "refit")


################
## 'lmSubsets' #
################

## 'lmSubsets' generator methods
##
S3method("lmSubsets", "formula")
S3method("lmSubsets", "lm")
S3method("lmSubsets", "default")


## 'lmSubsets' extractor methods
##
S3method("print"         , "lmSubsets")
S3method("plot"          , "lmSubsets")
S3method("variable.names", "lmSubsets")
S3method("formula"       , "lmSubsets")
S3method("model.frame"   , "lmSubsets")
S3method("model.matrix"  , "lmSubsets")
S3method("refit"         , "lmSubsets")
S3method("coef"          , "lmSubsets")
S3method("vcov"          , "lmSubsets")
S3method("fitted"        , "lmSubsets")
S3method("residuals"     , "lmSubsets")
S3method("deviance"      , "lmSubsets")
S3method("logLik"        , "lmSubsets")
S3method("AIC"           , "lmSubsets")
S3method("BIC"           , "lmSubsets")

S3method("summary", "lmSubsets")
S3method("print"  , "summary.lmSubsets")
S3method("plot"   , "summary.lmSubsets")
