

import("stats", "graphics")


useDynLib("xsubset")


## export new generics
##
export("xsubset",
       "refit")


## 'xsubset' generator methods
##
S3method("xsubset", "lm")
S3method("xsubset", "formula")
S3method("xsubset", "default")


## 'xsubset' extractor methods
##
S3method("print", "xsubset")
S3method("plot", "xsubset")
S3method("variable.names", "xsubset")
S3method("formula", "xsubset")
S3method("model.frame", "xsubset")
S3method("model.matrix", "xsubset")
S3method("refit", "xsubset")
S3method("coef", "xsubset")
S3method("vcov", "xsubset")
S3method("fitted", "xsubset")
S3method("residuals", "xsubset")
S3method("deviance", "xsubset")
S3method("logLik", "xsubset")
S3method("AIC", "xsubset")

S3method("summary", "xsubset")
S3method("print", "summary.xsubset")
S3method("plot", "summary.xsubset")
S3method("refit", "summary.xsubset")
S3method("summary", "summary.xsubset")


## 'xsubset2' extractor methods
##
S3method("print", "xsubset2")
S3method("plot", "xsubset2")
S3method("variable.names", "xsubset2")
S3method("formula", "xsubset2")
S3method("model.frame", "xsubset2")
S3method("model.matrix", "xsubset2")
S3method("refit", "xsubset2")
S3method("coef", "xsubset2")
S3method("vcov", "xsubset2")
S3method("fitted", "xsubset2")
S3method("residuals", "xsubset2")
S3method("deviance", "xsubset2")
S3method("logLik", "xsubset2")
S3method("AIC", "xsubset2")

S3method("summary", "xsubset2")
S3method("print", "summary.xsubset2")
S3method("plot", "summary.xsubset2")
S3method("refit", "summary.xsubset2")
S3method("summary", "summary.xsubset2")


## 'xsubset0' extractor methods (base methods)
##
S3method("formula", "xsubset0")
S3method("model.frame", "xsubset0")
S3method("model.matrix", "xsubset0")
S3method("refit", "xsubset0")
S3method("logLik", "xsubset0")
S3method("AIC", "xsubset0")
