

import("stats", "graphics")


useDynLib("xsubset")


## new generics
##
## do not export these generics:
##   model.response
##   model.weights
##   model.offset
##   environment
##
export("xsubset",
       "refit")


## misc. methods
##
## S3method("model.response", "default")
## S3method("model.weights", "default")
## S3method("model.offset", "default")
## S3method("environment", "default")


## 'xsubset' generator methods
##
S3method("xsubset", "data.frame")
S3method("xsubset", "lm")
S3method("xsubset", "formula")
S3method("xsubset", "default")


## extractor methods for 'xsubset' objects
##
S3method("print", "xsubset")
S3method("plot", "xsubset")
## S3method("environment", "xsubset")
S3method("variable.names", "xsubset")
S3method("formula", "xsubset")
S3method("terms", "xsubset")
S3method("model.frame", "xsubset")
S3method("model.matrix", "xsubset")
## S3method("model.response", "xsubset")
## S3method("model.weights", "xsubset")
## S3method("model.offset", "xsubset")
S3method("refit", "xsubset")
S3method("coef", "xsubset")
S3method("vcov", "xsubset")
S3method("fitted", "xsubset")
S3method("residuals", "xsubset")
S3method("deviance", "xsubset")
S3method("logLik", "xsubset")
S3method("AIC", "xsubset")
S3method("summary", "xsubset")
S3method("print", "summary.xsubset")
S3method("plot", "summary.xsubset")


## extractor methods for 'xsubset2' objects
##
S3method("print", "xsubset2")
S3method("plot", "xsubset2")
## S3method("environment", "xsubset2")
S3method("variable.names", "xsubset2")
S3method("formula", "xsubset2")
S3method("terms", "xsubset2")
S3method("model.frame", "xsubset2")
S3method("model.matrix", "xsubset2")
## S3method("model.response", "xsubset2")
## S3method("model.weights", "xsubset2")
## S3method("model.offset", "xsubset2")
S3method("refit", "xsubset2")
S3method("coef", "xsubset2")
S3method("vcov", "xsubset2")
S3method("fitted", "xsubset2")
S3method("residuals", "xsubset2")
S3method("deviance", "xsubset2")
S3method("logLik", "xsubset2")
S3method("AIC", "xsubset2")
S3method("summary", "xsubset2")
S3method("print", "summary.xsubset2")
S3method("plot", "summary.xsubset2")
