

import("stats", "graphics")


useDynLib("mcsSubset")


## export new generics
##
export("mcsSubset",
       "refit")


## 'mcsSubset' generator methods
##
S3method("mcsSubset", "lm")
S3method("mcsSubset", "formula")
S3method("mcsSubset", "default")


## 'mcsSubset' extractor methods
##
S3method("print", "mcsSubset")
S3method("plot", "mcsSubset")
S3method("variable.names", "mcsSubset")
S3method("formula", "mcsSubset")
S3method("model.frame", "mcsSubset")
S3method("model.matrix", "mcsSubset")
S3method("refit", "mcsSubset")
S3method("coef", "mcsSubset")
S3method("vcov", "mcsSubset")
S3method("fitted", "mcsSubset")
S3method("residuals", "mcsSubset")
S3method("deviance", "mcsSubset")
S3method("logLik", "mcsSubset")
S3method("AIC", "mcsSubset")

S3method("summary", "mcsSubset")
S3method("print", "summary.mcsSubset")
S3method("plot", "summary.mcsSubset")


## 'mcsSubset2' extractor methods
##
S3method("print", "mcsSubset2")
S3method("plot", "mcsSubset2")
S3method("variable.names", "mcsSubset2")
S3method("formula", "mcsSubset2")
S3method("model.frame", "mcsSubset2")
S3method("model.matrix", "mcsSubset2")
S3method("refit", "mcsSubset2")
S3method("coef", "mcsSubset2")
S3method("vcov", "mcsSubset2")
S3method("fitted", "mcsSubset2")
S3method("residuals", "mcsSubset2")
S3method("deviance", "mcsSubset2")
S3method("logLik", "mcsSubset2")
S3method("AIC", "mcsSubset2")

S3method("summary", "mcsSubset2")


## 'mcsSubset0' extractor methods (base methods)
##
S3method("formula", "mcsSubset0")
S3method("model.frame", "mcsSubset0")
S3method("model.matrix", "mcsSubset0")
S3method("refit", "mcsSubset0")
S3method("logLik", "mcsSubset0")
S3method("AIC", "mcsSubset0")
